img{
  margin-top:150px;
  height: 250px;
}
.signUpReq{
  color:red;
  font-weight: 400px;
  font-family: 'Mukta';
}
section{
  background-color:#00458C;
}
.h1{
  font-family: 'Mukta';
}
h5{
  font-family:'Mukta';
  letter-spacing: 1px;
  font-weight: normal;
}
.formReq{
  color: #dc6f02; 
  font-family: 'Mukta';
}
.btn{
  font-family: 'Mukta';
}
.link{
  font-family: 'Mukta';
  color: cadetblue
}