.navbar-collapse{
    justify-content: right;
}

.navbar-nav{
    margin-right: 0!important;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container-fluid{
    background-color: #01458c;
    margin-top: 80px;
    line-height: 67px;
    position: fixed;
    z-index: 9999999;
    
}

.nav-link{
    color: white;
    margin-right: 17px;

}
.navbar-nav .nav-link.active{
    color: white;
   
}

.navbar-brand:hover {
    color: white;
}
.navbar-brand-img{
    width: 40px;
    height:60px;
}
.navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    color: white;
    margin-right: 30px;
    
}
.navbar{
    padding: 0;
}

.collapse{
    margin-left: 100px;
    display: block;
    
}
.d-flex{
    margin-right: 20px;
    margin-top: 25px;
    
}

.btn-outline-success{
    height: 40px;
    color: white;
}

.btn.btn-outline-success{
    color: white;
    border-color: black;
}

.btn.btn-outline-success:hover{
    background-color: white;
    color: #01458c;
}
.dropdown-menu{
    background-color:rgba(187, 137, 0, 1);
    display: none;
    border-radius: 0;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu.show{
    background-color:rgba(187, 137, 0, 1);
    display: block;
    border-radius: 0; 
}

.dropdown-item{
    margin: 0;
    line-height: 20px;
    align-self: center;
    color: white;
}


.dropdown-item:hover{
    color: white;
    color:rgba(187, 137, 0, 1)!important;
}

.nav-link:hover{
    color: white!important;
    transition: 0ms;
}

.nav-item:hover,.nav-item.dropdown:hover{
    color: white!important;
    transition: 300ms;

}

.navbar-nav .nav-link:focus {
    color: white;
}


@media screen and (max-width:990px) {
    a.nav-link{
        margin-left: 40px;
    }
    .container-fluid{
        position: fixed;
        margin-top: 0;
        top: 0;
    }
}

