.nav-item
{
    margin-left: 20px; 
    margin-top: 8px; 
    
}
.navbar-collapse.show{
  background-color: #01458c;
}
.nav-link{
    color: white!important;
}

#default-pfp
{
  height: 40px;
  width: 40px;
}
.btn.btn-outline-success:hover{
  background-color: white;
  color: #01458c;
}

.d-flex{
    margin-left: 40px;
    margin-top: 8px;
    
}
.collapse{
    /* margin-left: 100px; */
    display: block;
    
}
.navbar-brand-img{
    width: 40px;
    height:50px;
}
.navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--bs-navbar-brand-font-size);
    font-style: normal;
    line-height: normal;
    color: white!important;
}
.container-fluid{
    background-color: #01458c;
    height: 80px;
    margin-top: 0px;
    padding-top: 0px;
    position: fixed;
    top: 0;
    margin-bottom: 10px;
    z-index: 999;
}
.navbar{
    padding-top: 0px;
    
}
.dropdown-item{
  margin: 0;
  line-height: 20px;
  align-self: center;
  color: white;
}

.dropdown-menu.show{
  background-color:rgba(187, 137, 0, 1);
  display: block;
  border-radius: 0; 
}
.dropdown-item:hover{
  background-color: white;
  color:rgba(187, 137, 0, 1)!important;
}

.nav-link:hover{
  color: white!important;
  transition: 0ms;
}

.nav-item:hover,.nav-item.dropdown:hover{
  color: white!important;
  transition: 300ms;
}

.navbar-nav .nav-link:focus {
  color: white;
}

.dropdown:hover .dropdown-menu{
  background-color: rgba(187, 137, 0, 1);
  display: block;
}
.btn-outline-success{
  height: 40px;
  color: white;
}

.btn.btn-outline-success{
  color: white;
  border-color: black;
}
.dropdown-menu{
    border-radius: 0%!important;
    transition: 600ms;
}

/* .dropdown-toggle.show:hover{
   transition: 600ms;
} */

.dropdown-item{
    color: white!important;
}

.navbar-nav{
    align-content: center;
    align-self: center;
}

.dropdown-menu.show{
    background-color:rgba(187, 137, 0, 1);
}

.dropdown-item:hover{
    background-color: white;
    color:rgba(187, 137, 0, 1)!important;
}
@media screen and (max-width:1000px) {
  a.nav-link{
      margin-left: 40px;
  }
  .container-fluid{
      position: fixed;
      margin-top: 0;
      top: 0;
  }
}

